body {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    background-image: url("../Images/bgwt.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

/* Header Part Goes here  */
#header {

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;

}

/* Logo */

#h1text {
    text-shadow: 5px 5px 4px rgb(3, 0, 0);
    color: transparent;
    background-color: rgba(226, 225, 216, 0.546);
    height: 15vh;
    width: 20vw;
    border-radius: 20px;

}


#logo {
    font-size: 72px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: var(--background-color);
    margin: 0;
    padding: 0;

}

#menu-list {
    background-color: rgba(39, 21, 24, 0.546);
    height: 30px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;


}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;

}

ul li {
    display: inline;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 5px 5px 4px rgba(5, 9, 242, 0.621);
    transition: opacity 0.3s;
}

ul li a:hover{
    color:#000000;
    /* text-decoration: underline; */
    transform: scale(1.1);
    border-bottom: 4px solid #fffefe;
    
}

#main-body {

    width: auto;
    margin: 150px 0;

}

#rest-part {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

#rest-part img {
    width: 30rem;
    height: 50rem;
    border-radius: 20px;
    margin: 100px;

}

.rest-part-left {
    width: 50%;
    margin: 100px auto;
    height: 47.5rem;
    text-align: center;
    color: #333;
    /* Change to your preferred text color */
    background-color: rgba(1, 1, 1, 0.752);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.rest-part-left h1 {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: #f7be00;

}

.rest-part-left p {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    font-size: 18px;

}
.rest-part-left h3 {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: #f79c34;
    font-size: 20px;
    

}

#footer {
    width: 100%;
    height: 10vh;
    background-color: rgba(100, 97, 97, 0.752);
}
