/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Pacifico&family=Roboto:ital,wght@0,300;1,100&display=swap');

/* Root Variables for Color Definitions */
:root {
  --primary-color: #e3e2b3;
  --secondary-color: #6C757D;
  --background-color: #F8F9FA;
  --text-color: #333333;
  --accent-color: #FF6B6B;
  --link-color: #007BFF;
  --success-color: #28A745;
  --warning-color: #FFC107;
  --info-color: #17A2B8;
  --dark-color: #343A40;
}

/* Body Styles */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  background-image: url("../Images/bgwt.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

/* Container Styles */
#Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../Images/bg.jpg");
}

/* Main Container Styles */
#container-main {
  width: 100%;
  height: 100vh;
  background-image: url("../Images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  display: block;
}

/* Header Styles */
#header {
  width: flex; /* This should be "100%" */
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

/* Logo Styles */
#h1text {
  text-shadow: 5px 5px 4px rgba(255, 6, 193, 0.5);
  color: transparent;
  background-color: rgba(189, 182, 183, 0.546);
  height: 15vh;
  width: 20vw;
  border-radius: 20px;
}

#logo {
  font-size: 72px;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  color: var(--background-color);
  margin: 0;
  padding: 0;
}

#menu-list {
  background-color: rgba(39, 21, 24, 0.546);
  height: 30px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
}

/* Menu Styles */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
}

ul li {
  display: inline;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 5px 5px 4px rgba(5, 9, 242, 0.621);
  transition: opacity 0.3s;
}

ul li a:hover {
  color: #000000;
  transform: scale(1.1);
  border-bottom: 4px solid #fffefe;
}

/* Button Styles */
#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 700px auto;
  height: 20vh;
  gap: 25px;
}

#button1,
#button2 {
  width: 10rem;
  height: 3.5rem;
  background-color: transparent;
  border: 2px solid var(--background-color);
  border-radius: 10px;
  color: #fff;
  margin-left: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 3.5rem;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#button1:hover,
#button2:hover {
  background-color: #ffffff9d;
  transform: scale(1.05);
}


#container-main2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../Images/food2.jpg");
    background-size: cover;
    text-align: center;
}

#card1 {
    color: transparent;
    background-color: rgba(165, 159, 159, 0.546);
    height: 67vh;
    width: 20vw;
    border-radius: 20px;
    position: absolute;
    padding: 20px;
    margin: 100px;
    transition: transform 0.3s ease;
}

#card1:hover {
    transform: translateY(-20px);
}

#card1 h1 {
    color: #000;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
}

#card1 p {
    font-weight: bold;
    gap: 5px;
    color: #000;

}

#card1 img {
    display: Start;
    max-width: 250px;
    max-height: 300px;
    margin-top: 30px;
    /* margin-left: 10px; */
    justify-content: center;
    align-items: center;

}


#card-div-s {
    max-width: 410px;
    max-height: 110px;
   }

#card-div-s h1 {
    color: var(--background-color);
    text-shadow: #000;
    text-shadow: #000;
    text-decoration: none;
    

}

#card-div-s h2 {
    color: var(--background-color);
    text-shadow: #000;
    text-decoration: none;

}

#card2 {
    color: transparent;
    background-color: rgba(165, 159, 159, 0.546);
    height: 67vh;
    width: 62vw;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    margin-right: 50px;
    grid-template-columns: repeat(4, 380px);
    grid-template-rows: repeat(4, 500px);
    gap: 25px;
    justify-items: center;
    align-content: space-between;

}





/* Style for the internal divs */
.item1,
.item2,
.item3 {


    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    /* Adjust padding for extra boundary */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 130%;

    transition: transform 0.3s ease;

}

.item1:hover,
.item2:hover,
.item3:hover {
    transform: translateY(20px);
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.item1 h1,
.item2 h1,
.item3 h1 {
    color: #fffbf8;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;



}

#card2 a {
    text-decoration: none;
}



.price-tag {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .currency {
    font-size: 1.2em;
    margin-right: 5px;
  }
  
  .price {
    font-size: 1.2em;
  }
  

.item1 img,
.item2 img,
.item3 img {
    width: 300px;
    height: 300px;
}

.item1 p,
.item2 p,
.item3 p {

    font-size: 2rem;
    color: #000000;
    text-shadow: #e3e2b3;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Pacifico', cursive;
}




#rest-part {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

#rest-part img {
    width: 30rem;
    height: 50rem;
    border-radius: 20px;
    margin: 100px;

}

.rest-part-left {
    text-align: center;
    width: 50%;
    font-weight: 400;
    padding: 30px;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.rest-part-left h1 {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: #f7be00;

}

.rest-part-left p {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: #20201f;
    font-size: 2rem;

}


.rest-part-left button {
    align-self: flex-end;
    margin-top: 50px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

#semifinal {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 600px);
    /* Adjust the column width as needed */
    gap: 50px;
    /* Gap between grid items (grids) */
    justify-content: center;
}

.food-card {
    width: 100%;
    border-radius: 20px;
    background-color: rgba(111, 108, 108, 0.119);
    /* Gray background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.food-card:hover {
    transform: translateX(20px);
}

.food-card img {
    width: 100%;
    height: 400px;
    /* Adjust the height as needed */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.food-info {
    padding: 15px;
    height: 16.5vh;
    border-radius: 5px 5px 20px 20px;
    background-color: var(--background-color);
}

.food-info h2 {
    font-size: 2.5rem;
    margin: 0;
}

.food-info p {
    font-size: 1.6rem;
    margin: 5px 0;
    font-family: cursive;
}

/* Footer Styles */
footer {
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.5);
 /* Background color for the footer */
    color: #fff; /* Text color for the footer content */
    padding: 20px 0; /* Adjust padding as needed */
    font-family: 'Lato', sans-serif;
    
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-logo {
    flex: 1;
    
  }

  .footer-logo img{
    border-radius:50px
  }
  .footer-contact,
  .footer-address,
  .footer-social {
    flex: 1;
    padding: 10px;
    color:#000;
    
  }
  .footer-social a{
    color:#000;
  }
  
  h4 {
    font-size: 24px;
    margin: 0;
  }
  
  p {
    margin: 5px 0;
  }
  
  .footer-bottom {
    background-color:rgba(128, 128, 128, 0.5); /* Background color for the footer bottom */
    text-align: center;
    padding: 10px 0;
    font-size: 14px;

  }

  .footer-bottom p{
    color:var(--background-color);
  }
  
  .social-icon {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 5px 0;
  }
  
  /* Style for geolocation */
  #location {
   width: 300px; 
   height: 300px;
  }
  